More Conditional Statements

In [2]:
x= 5
if x < 2 :
    print('Small')
elif x < 9 :
    print('Medium')
else:
    print('Large')

Medium

Traceback

#e.g
astr = 'Hello'
istr = int(astr)
print('First',istr)
astr='123'
istr = int(astr)
print(istr)
# Program Blows UP

**When face traceback jump to another statement**

In [3]:
astr = 'Hello'
try:
    istr = int(astr)
except:
    istr = -1
print('First', istr)

astr = '123'
try:
    istr = int(astr)
except:
    istr = -1
print('Second', istr)

First -1
Second 123

In [5]:
#Sample Try/except
user_input = input('ENter number')
try:
    ival = int(user_input)
except:
    ival = -1
if ival>0:
    print('Nice')
else:
    print('Not a number')

ENter number 5

Nice

In [ ]:
#worked exercise 3.2
sh = input("enter hours: ")
sr = input("Enter Rate: ")
try:
    fh = float(sh)
    fr= float(sr)
except:
    print("Error, please enter numeric value")
print(fh,fr)
if fh>40:
    reg = fr*fh
    otp = (fh-40)*(fr*0.5)
    xp = reg+otp
else:
    xp = fh*fr

print("Pay:",xp)

In [10]:
def print_xyz():
    print("Hi ")
    print("My name is vansh")


#calling function
print_xyz()

Hi
My name is vansh

In [11]:
def greet(lang):#lang is parameter
    if lang == 'Hi':
        print('Ram Ram')
    elif lang == 'Hello':
        print('Namaste')
    else:
        print(':)')#if elif else print are funciton defination
greet('Hi')#'Hi' is argument
greet('Hello')
greet('Idk')

Ram Ram
Namaste
:)

**Return Values**

In [17]:
def greet():
    return 'Hello'
print(f"Bro {greet()}")

def greeet(lang):#lang is parameter
    if lang == 'Hi':
        return 'Ram Ram'
    elif lang == 'Hello':
        return 'Namaste'
    else:
        return':)'#if elif else print are funciton defination
print(greeet('Hi'))
print(greeet('Hello'))
print(greeet('zyz'))

Bro Hello
Ram Ram
Namaste
:)

**LOOPS**

In [1]:
#while
n =5
while n>0:
    print(n)
    n-=1
print('Blastoff!')
print(n)

5
4
3
2
1
Blastoff!
0

Breaking out of the Loop

In [6]:
while True:
    line = input('>')
    if line == 'done':
        break
    print(line)
print('DONE!')

> hi

hi

> done

DONE!

Finishing an iteration with continue

In [7]:
while True:
    line = input('>')
    if line[0] =='#':
        continue
    if line =='done':
        break
    print(line)
print('DONE!')

> hi

hi

> bi

bi

> #
> what is the difference why i want to do that maybe i know

what is the difference why i want to do that maybe i know

> done

DONE!

**Definite LOOP**

In [14]:
#simple definite loop
for i in [1,2,3,4,5]:
    print(i)
print('Blastoff!')

1
2
3
4
5
Blastoff!

In [15]:
friends = ['Pratibha','Tanu','Kusum','Sahil','Naadu']
for friend in friends:
    print('Have a good day',friend)
print('DONE')

Have a good day Pratibha
Have a good day Tanu
Have a good day Kusum
Have a good day Sahil
Have a good day Naadu
DONE

Finding the largest value

In [16]:
ini_largest = -1
print('Initial latgest',ini_largest)
for num in [1,43,65,878,3443,6,454566]:
    if num > ini_largest:
        ini_largest = num
    print('Largest so far',ini_largest)
print('Largest no. is ', ini_largest)

Initial latgest -1
Largest so far 1
Largest so far 43
Largest so far 65
Largest so far 878
Largest so far 3443
Largest so far 3443
Largest so far 454566
Largest no. is  454566

Counting in a loop

In [19]:
zork = 0
print('Before Loop',zork)
for t in [2,232,5,35,46,2,6,456,46,4,4,344,343,43,4,3]:
    zork+=1
    print(zork,t)
print('no. of time loop runned',zork)

Before Loop 0
1 2
2 232
3 5
4 35
5 46
6 2
7 6
8 456
9 46
10 4
11 4
12 344
13 343
14 43
15 4
16 3
no. of time loop runned 16

Summing in a Loop

In [22]:
zork = 0
for t in [2,3,34,456,23,2,4,23,32,323,32,32,32,345,53]:
    zork +=t
    print(zork,t)
print("total is",zork)

2 2
5 3
39 34
495 456
518 23
520 2
524 4
547 23
579 32
902 323
934 32
966 32
998 32
1343 345
1396 53
total is 1396

Finding average in a loop

In [23]:
count = 0
zork = 0
for i in [1,2,3,4,5,6,7,8,10,9]:
    zork+=i
    count+=1
    print(f"Count{count} sum{zork} i = {i}")
print('after',count,zork,'average = ',zork/count)

Count1 sum1 i = 1
Count2 sum3 i = 2
Count3 sum6 i = 3
Count4 sum10 i = 4
Count5 sum15 i = 5
Count6 sum21 i = 6
Count7 sum28 i = 7
Count8 sum36 i = 8
Count9 sum46 i = 10
Count10 sum55 i = 9
after 10 55 average =  5.5

Filtering in a Loop

In [25]:
print('before')
for value in[1,2,5,6,8,3,18,34,65,34,73,34.43]:
    if value>=18:
        print('Eligible',value)
print('afeter')

before
Eligible 18
Eligible 34
Eligible 65
Eligible 34
Eligible 73
Eligible 34.43
afeter

Search using boolean variable

In [27]:
found = False
print('before',found)
for value in ['vansh','pratibha','tanu','kusum','mami','papa','etc']:
    if value == 'vansh':
        found = True
        break
    print(found,value)
print('after',found)

before False
True vansh
True pratibha
True tanu
True kusum
True mami
True papa
True etc
after True

Smallest Value

In [32]:
ini_small = None
print('start')
for num in [34334,43,65,878,3443,6,454566]:
    if ini_small is None:
        ini_small = num
    elif num < ini_small :
        ini_small = num
    print(ini_small , num)
        
print('smallest no. is ', ini_small)

start
34334 34334
43 43
43 65
43 878
43 3443
6 6
6 454566
smallest no. is  6

#**Very Good Assignment Try IT Out 5.2**

Write a program that repeatedly prompts a user for integer numbers until the user enters 'done'.
Once 'done' is entered, print out the largest and smallest of the numbers.
If the user enters anything other than a valid number catch it with a try/except and put out an appropriate message and ignore the number.
Enter 7, 2, bob, 10, and 4 and match the output below.
                      **Desired Output**
                      Invalid input
Maximum is 10
Minimum is 2

In [33]:
largest = None
smallest = None
while True:
    num = input('Enter an integer number or "done": ')
    
    if num == 'done':
        break
        
    try:  # Try to convert the user's input into a float.
        num = float(num)
    except ValueError:  
        print("Invalid input")
        continue  # Skip this iteration and move on to the next number
    
    if largest is None or num > largest:
        largest = num
        
    if smallest is None or num < smallest:
        smallest = num
        
print('Maximum is', int(largest))
print('Minimum is', int(smallest))

Enter an integer number or "done":  7
Enter an integer number or "done":  2
Enter an integer number or "done":  bob

Invalid input

Enter an integer number or "done":  10
Enter an integer number or "done":  4
Enter an integer number or "done":  done

Maximum is 10
Minimum is 2